.statistics {
  .p-calendar,
  .p-selectbutton {
    margin: 0.5rem 0;
  }
  .p-selectbutton {
    transform: scale(0.9);
  }
  .p-divider {
    margin: 2rem 0 !important;
  }
  &__buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    .bouton {
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }
  }
  .custom__tooltip {
    background-color: white;
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
  }
  .recharts-tooltip-wrapper {
    color: black;
  }
  .empty {
    color: var(--main-color);
    padding: 0 1rem;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    i {
      text-decoration: underline;
      cursor: pointer;
      color: var(--third-color);
    }
  }
  .titre {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    color: var(--second-color);
    &.first {
      margin-top: 2rem;
    }
  }
}

@media (min-width: 500px) {
  .statistics {
    gap: 1rem;
    .recharts-responsive-container {
      margin: 2rem 0 !important;
    }
  }
}
