@use "src/style.scss";

.statistics {
  height: var(--screen-size);
  .p-calendar,
  .p-selectbutton {
    margin: 0.5rem 0;
  }
  .p-selectbutton {
    transform: scale(0.9);
  }
  &__buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    .bouton {
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }
  }
  .custom__tooltip {
    background-color: white;
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
  }
}
