@use "src/Style/style.scss" as c;
@use "src/Style/globalClasses.scss" as g;

.app {
  width: 100vw;
  &.false {
    height: 100vh;
    overflow: hidden;
  }
  &.true {
    padding-bottom: 3.5rem;
    overflow: scroll;
  }
}

@media (min-width: 900px) {
  .app {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 0 !important;
  }
}
