.main-color {
  color: var(--main-color);
}
.second-color {
  color: var(--second-color);
}
.third-color {
  color: var(--third-color);
}
.main-bg {
  background-color: var(--main-color);
}
.second-bg {
  background-color: var(--second-color);
}
.third-bg {
  background-color: var(--third-color);
}
.history-bg {
  background-color: #f0efef;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 0.5rem !important;
}

.form-field {
  display: flex;
  flex-direction: column;
  h4 {
    margin: 1rem 0 0.5rem 0.25rem;
    font-weight: normal;
  }
  .box {
    position: relative;
    & > svg {
      height: 1.5rem;
      width: 1.5rem;
      padding: 4px;
      position: absolute;
      top: 50%;
      left: 2px;
      transform: translateY(-50%);
      color: #a7adb1;
    }
    input {
      width: 100%;
      background-color: #3b3e4014;
      border: none;
      padding-left: 1.75rem;
    }
    .p-password {
      width: 100%;
    }
  }
}

.white-block {
  border-radius: 1rem;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  background-color: white;
  justify-content: center;
  align-items: center;
  span {
    color: var(--second-color);
  }
}

@media (min-width: 900px) {
  .page {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
