.salary {
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem 1rem 2rem;
  gap: 2rem;
  color: var(--main-color);
  .returnbutton {
    margin-left: -1rem;
    margin-bottom: 0;
  }
  .custom-tooltip {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: 6px;
    max-width: 10rem;
  }
}

@media (min-width: 700px) {
  .salary {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    .bouton {
      max-width: 30rem;
    }
  }
  .salary > div {
    width: 60%;
  }
}
