.debtcard {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px;
  gap: 1rem;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
  width: 20rem;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 2px 4px 8px;
  }
  background-color: var(--second-color);
  color: white;
  &__left {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex-grow: 1;
    &__top,
    &__bottom,
    &__middle {
      display: flex;
      gap: 1rem;
    }
    .title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      font-weight: bold;
      font-size: 1rem;
    }
    .target,
    .date,
    .value {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      font-weight: bold;
      .pi {
        color: white;
        font-size: 0.9rem;
      }
    }
    .value .pi {
      font-size: 0.8rem;
    }
  }
  &__right {
    align-self: center;
  }
}

@media (min-width: 900px) {
  .debtcard {
    width: 25rem;
  }
}
