.accueil__desktop {
  padding: 0;
  color: var(--main-color);
  background-color: rgba(59, 62, 64, 0.0784313725);
  &__bandeau {
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    &__encart {
      display: flex;
      flex-direction: column;
      align-items: center;
      .logo {
        z-index: 1001;
        width: 90px;
      }
      .block {
        margin-top: -1.25rem;
        padding: 1rem 8rem;
        position: unset;
        div {
          font-weight: bold;
          font-size: 2rem;
        }
        span {
          font-weight: bold;
          font-size: 1.25rem;
        }
      }
    }
  }
  &__body {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2rem;
    gap: 4rem;
    .white--zone {
      position: unset;
      border-radius: 0.5rem;
      width: 50%;
      height: unset;
      padding: 2rem 5rem;
      .sentence {
        color: var(--main-color);
        margin-bottom: 0.5rem;
      }
      .bouton {
        margin-top: 1rem;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        width: fit-content;
      }
    }
    &__right {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      gap: 1rem;
      .title {
        font-weight: bold;
      }
      &__boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        color: white;
        width: 90%;
        .boite svg {
          font-size: 2rem;
        }
      }
    }
  }
  &__bottom {
    margin: 2rem;
    min-width: 900px;
    width: 80%;
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    .title {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}
