.import__desktop {
  display: none;
}
.import {
  justify-content: center;
  gap: 1rem;

  align-items: flex-start;
  padding: 0 1.5rem;
  &__top {
    display: flex;
    align-items: center;
    color: var(--main-color);
    gap: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    img {
      width: 54px;
    }
  }
  .boxes {
    align-self: center;
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem;
  }
  .title {
    color: var(--main-color);
    font-weight: 500;
    font-size: 1rem;
  }
  .boite span {
    font-size: 1.1rem;
  }
  .p-divider {
    display: none;
  }
}

.modal-types {
  .header,
  .navbar,
  .returnbutton {
    display: none;
  }
  .p-dialog-header-icon svg {
    color: var(--main-color) !important;
  }
  .p-dialog-content {
    padding: 2rem !important;
    .createtype {
      padding: 0 !important;
    }
  }
}

@media (min-width: 1000px) {
  .import {
    display: none;
  }

  .import__desktop {
    color: var(--main-color);
    padding: 0 !important;
    display: flex;
    background-color: rgba(59, 62, 64, 0.0784313725);
    &__top {
      width: 100%;
      display: flex;
      align-items: center;
      height: 375px;
      &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        gap: 2rem;
        padding: 0 2rem;
        .boxes {
          color: white;
          gap: 2rem;
          display: flex;
          flex-direction: column;
        }
        .title {
          font-weight: bold;
        }
      }
      &__left {
        width: 100%;
        height: 100%;
        max-width: 800px;
        background-repeat: no-repeat;
        position: relative;
        background-size: cover;
        .white-zone {
          width: 400px;
          padding: 1rem;
          height: 150px;
          bottom: 2rem;
          left: 50%;
          transform: translateX(-50%);
          div {
            font-size: 1.8rem;
            margin-bottom: 1rem;
          }
          span {
            font-weight: normal;
            font-size: 0.9rem;
          }
        }
      }
    }
    &__bottom {
      margin: 3rem;
      box-shadow: 1px 3px 6px 1px #00000040;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      height: calc(100vh - 7rem - 375px - 6rem);
      background-color: white;
      &__left {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 400px;
        padding: 2rem;
        .title {
          font-weight: bold;
          font-size: 1.25rem;
        }
      }
      &__right {
        width: 600px;
        background-size: cover;
        height: 100%;
        border-radius: 0 1rem 1rem 0;
      }
    }
  }
}
