.navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.625rem 0 0.5rem 0;
  height: 3.25rem;
  box-shadow: 0px -2px 4px 0px #aaaaaa40;
  background-color: white;
  z-index: 1000;
  .param {
    display: none;
  }
  a {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-size: 0.8rem;
    color: var(--icon-color);
    text-decoration: none;
    svg {
      font-size: 1rem;
    }
  }
  .nav-active {
    font-weight: bold;
    color: var(--main-color);
  }
}

@media (min-width: 900px) {
  .navbar {
    background-color: var(--main-color);
    padding: 3.5rem 2rem;
    position: unset;
    justify-content: flex-end;
    gap: 1rem;
    a {
      padding: 0 0.5rem;
      flex-direction: row;
      align-items: center;
      font-size: 1.2rem;
      color: white !important;
      span {
        padding-left: 0.5rem;
      }
      svg {
        display: none;
      }
      &.param {
        display: flex;
        svg {
          display: block;
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media (min-width: 1050px) {
  .navbar {
    padding: 3.5rem 4rem;
    gap: 2rem;
  }
}
