.navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.625rem 0 0.5rem 0;
  height: 3.25rem;
  box-shadow: 0px -2px 4px 0px #aaaaaa40;
  background-color: white;
  z-index: 1000;
  a {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-size: 0.8rem;
    color: var(--icon-color);
    text-decoration: none;
    svg {
      font-size: 1rem;
    }
  }
  .nav-active {
    font-weight: bold;
    color: var(--main-color);
  }
}

@media (min-width: 900px) {
  .navbar {
    top: 0;
    background-color: var(--main-color);
    padding: 3rem;
    padding-bottom: 6rem;
    position: absolute;
    border-radius: 0 0 10% 10%;
    justify-content: center;
    gap: 4rem;
    a {
      padding: 0 0.5rem;
      flex-direction: row;
      align-items: center;
      font-size: 1.2rem;
      color: white !important;
      span {
        padding-left: 0.5rem;
      }
    }
  }
  .header {
    position: absolute;
    background-color: white;
    box-shadow: 0px 3px 4px 0px #00000040;
    top: 6rem;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 3rem 1.5rem !important;
    z-index: 1001;
    border-radius: 16px;
    color: var(--second-color) !important;
    justify-content: space-between;
    width: 350px;
  }
  .page {
    margin-top: 14rem !important;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .returnbutton {
    font-size: 1.1rem !important;
  }
}
