.debt {
  color: var(--main-color);
  &__showForm {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.5rem;
    font-weight: 500;
    font-size: 1rem;
    svg {
      transition: all 0.3s ease-in-out;
    }
    &.false svg {
      transform: rotate(0);
    }
    &.true svg {
      transform: rotate(90deg);
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media (min-width: 900px) {
  .debt {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2rem;
    &__showForm.false svg {
      transform: rotate(90deg);
    }
  }
}
