.accueil__body__pie {
  display: flex;
  align-items: center;
  height: 160px;
}

.accueil__desktop {
  .accueil__body__pie {
    width: 50%;
    .legend {
      font-size: 0.9rem;
      width: 6rem;
    }
  }
}

@media (min-width: 420px) {
  .accueil__body__pie {
    height: 200px;
  }
}

@media (min-width: 500px) {
  .accueil__body__pie {
    height: 250px;
  }
}
