.p-dialog-mask {
  min-width: fit-content;

  //?Header
  .p-dialog-header {
    background: white !important;
    color: var(--main-color) !important;
    padding-bottom: 0rem !important;
    &-icon {
      display: none !important;
    }
  }
  .p-dialog-title {
    font-size: 28px !important;
    font-weight: bold !important;
  }

  .p-dialog-content {
    padding: 0 1.5rem 2rem 1.5rem !important;
  }

  p {
    margin: 0.5rem 0 0.5rem 0;
  }
  .p-inputtextarea {
    margin: 0.5rem 0 0 0;
    width: 80%;
    height: 10rem;
  }
  .description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
