.history .empty {
  color: var(--main-color);
  padding: 0 1rem;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  i {
    text-decoration: underline;
    cursor: pointer;
    color: var(--third-color);
  }
}

@media (min-width: 900px) {
  .history .empty {
    position: unset;
    transform: unset;
    align-self: center;
  }
}
