.modal-login {
  .login__form {
    &__button {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      .bouton {
        width: 100%;
      }
    }
    .forgot_password {
      cursor: pointer;
      text-decoration: underline;
      text-align: right;
      font-size: 0.8rem;
      padding: 0.5rem;
    }
    &__cancel {
      color: var(--third-color);
      font-size: 1.25rem;
      font-weight: bold;
      text-align: center;
      margin-top: 1rem;
      cursor: pointer;
    }
  }
}
