.createtype {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-color);
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    padding: 0 1.5rem;
    &__input {
      display: flex;
      gap: 1rem;
      input {
        background-color: #3b3e4014;
        border: none;
      }
    }
    &__button {
      cursor: pointer;
      background: none;
      border: none;
      svg {
        font-size: 2rem;
        color: var(--main-color);
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 1.5rem;
    width: 100%;
  }
}
