.tools {
  gap: 2rem;
  &__top {
    display: flex;
    align-items: center;
    color: var(--main-color);
    gap: 1rem;
    padding: 0 1rem;
    font-weight: bold;
    img {
      width: 54px;
    }
  }
  .boite span {
    font-size: 1.1rem;
  }
}

@media (min-width: 700px) {
  .tools {
    margin-top: 2rem;
    .p-slider {
      max-width: 40rem;
    }
    h1 {
      width: fit-content;
      position: relative;
      align-self: flex-start;
      &:after {
        content: "";
        height: 4px;
        width: 50%;
        background: var(--third-color);
        position: absolute;
        border-radius: 10px;
        left: 0;
        bottom: 0;
      }
    }
  }
}
