body {
  --main-color: #264691; // #026640
  --second-color: #3e6fd4; // white
  --third-color: #db8bb5;
  --background: white; // #f0f1f4
  --icon-color: #8f8f8f; // #6d758f
  color: white;
  font-family: "Inter var", sans-serif;

  margin: 0;
  display: flex;
  place-items: center;
  overflow-x: hidden;
  font-size: 0.9rem;
}

.p-dropdown-trigger {
  display: none !important;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 0.5rem !important;
}

.p-button.p-highlight,
.p-inputswitch-slider,
.p-datepicker-trigger {
  background: var(--second-color) !important;
  border-color: var(--second-color) !important;
}

@media (min-width: 500px) {
  body {
    font-size: 1.1rem !important;
  }
}
