body {
  --main-color: #264691; // #026640
  --second-color: #3e6fd4; // white
  --third-color: #db8bb5;
  --background: white; // #f0f1f4
  --icon-color: #8f8f8f; // #6d758f
  --screen-size: calc(100vh - 8.25rem);
  color: white;
  font-family: "Inter var", sans-serif;

  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-size: 0.9rem;
}

.p-dropdown-trigger {
  display: none !important;
}

.page {
  max-height: var(--screen-size);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.p-button.p-highlight,
.p-inputswitch-slider,
.p-datepicker-trigger {
  background: var(--second-color) !important;
  border-color: var(--second-color) !important;
}
