@use "src/style.scss";

$br: 12px;

.bouton {
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  border-radius: $br;
  color: white;
  font-size: 1.25rem;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
  font-weight: 700;
  min-width: fit-content;
  transition: all 0.3s;
  letter-spacing: 1px;
  &:hover {
    background-color: white !important;
  }
  &:hover:before {
    width: 100% !important;
  }
  &.blue {
    border: 2px solid var(--second-color);
    background-color: var(--second-color);
    &:hover {
      color: var(--second-color);
    }
  }
  &.pink {
    border: 2px solid var(--third-color);
    background-color: var(--third-color);
    &:hover {
      color: var(--third-color);
    }
  }
  svg {
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}
