.importCSV {
  color: var(--main-color);
  padding: 0 0.5rem;
  &__information {
    display: flex;
    flex-direction: column;
    &__switch {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
    &__image {
      width: 260px;
      align-self: center;
      margin-top: 1rem;
    }
    ul {
      padding-left: 0.5rem;
      list-style: lower-greek;
      li {
        margin-left: 2rem;
      }
    }
  }
  .p-fileupload {
    width: fit-content;
    &-buttonbar {
      padding: 0 !important;
    }
    &-choose {
      margin: 0 !important;
      background: var(--second-color);
      border-color: var(--second-color);
      &:hover {
        background: var(--second-color) !important;
        border-color: var(--second-color) !important;
      }
    }
    &-content {
      display: none;
    }
  }
}
