@use "src/style.scss" as c;

.importCSV {
  display: flex;
  align-items: center;
  flex-direction: column;
  &__information {
    display: flex;
    flex-direction: column;
    &__switch {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
    &__image {
      width: 260px;
      align-self: center;
      margin-top: 1rem;
    }
    ul {
      padding-left: 0.5rem;
      list-style: lower-greek;
      li {
        margin-left: 2rem;
      }
    }
  }
  .p-fileupload {
    width: fit-content;
    &-buttonbar {
      padding: 0 !important;
    }
    &-choose {
      margin: 0 !important;
      background: var(--main-color);
      border-color: var(--main-color);
      transition: all 0.3s ease-in-out;
      opacity: 0.9;
      &:hover {
        background: var(--main-color) !important;
        border-color: var(--main-color) !important;
        opacity: 1;
      }
    }
    &-content {
      display: none;
    }
  }
}
